* {
	margin: 0;
	box-sizing: border-box;
}

/* PAGE LAYOUT GRID */

html{
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";
}

.presenters{
    display:flex;
    -ms-flex-align: center;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label svg{
    fill: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
input[type="radio"]:checked + label svg{
    fill: red;
}
.header { grid-area: header; }
main { grid-area: main; }

/* SKIP LINK */

.skip {
	position: absolute;
	left: -9999px;
	top: auto;
}

.skip:focus {
	left: 10px;
	top: 10px;
	background: black;
	color: white;
	padding: 12px 16px;
	z-index: 1000;
	text-decoration: none;
	border-radius: 4px;
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
}

.header,
main {
    width: 92%;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .header,
    main {
        width: min(1200px, 90%);
    }
}

/* NAVIGATION */

.navbar {
	flex: 1;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.navbar a {
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.navbar a:hover,
.header > a:last-of-type:hover {
	text-decoration: underline;
}

.navbar .user-link {
    margin: 15px 0 5px;
}

.navbar .search-field {
    margin-bottom: 20px;
}

/* SEARCH */

.search-field {
	display: flex;
	align-items: center;
	gap: 6px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9rem;
}

input[type="search"] {
	padding: 6px 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.search-field button {
	background: none;
	border: none;
	cursor: pointer;
}

/* USER LINK */

.header > a:last-of-type {
	display: flex;
	align-items: center;
	gap: 6px;
	text-decoration: none;
	color: black;
}

/* MOBILE FIRST < 690px */

/* Hamburger-button */

.hamburger {
	margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-bar {
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 2px;
}

/* Skjul checkbox */
.nav-toggle {
    display: none;
}

/* MOBILE NAV (default) */

.navbar {
    position: absolute;
    top: 80px; /* juster etter header høyde */
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid gray;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

	/* Stable innhold vertikalt og la søk ligge nederst */
	display: block;
    text-align: center;
}

.navbar ul,
.navbar .user-link,
.navbar .search-field {
    width: 100%;
}

.navbar .search-field {
    margin-top: 15px;
    margin-bottom: 20px;
	display: flex;
    justify-content: center;
	padding: 15px 0 20px;
}

.navbar ul {
    flex-direction: column;
    gap: 0;
	list-style: none;
    padding: 10px;
    margin: 0;
}

.navbar li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.navbar li a {
    display: block;
    width: 100%;
    padding: 5px 0;
}

/* Når checkbox er huket av -> vis meny */
.nav-toggle:checked ~ .navbar {
    max-height: 425px; /* stor nok til alle lenker */
}

.sr-only {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* MAIN CONTENT */

main {
	margin: 25px auto;
    display: grid;
    gap: 25px;
	grid-template-columns: 1fr;
    grid-template-areas:
        "event"
        "register"
        "info";
}

.event-info-container { grid-area: event; }
.registration-container { grid-area: register; }
.extra-info { grid-area: info; }

hr {
	margin: 25px 0;
	height: 1px;
	background-color: lightgrey;
	border: none;
}

h2,
h3 {
	margin-bottom: 10px;
}

.icon-and-sentence {
	display: flex;
	align-items: center;
	border: 1px solid black;
	padding: 12px;
}

.registration-container, .extra-info {
    border: 1px solid #e0e0e0;
    padding: 18px;
    border-radius: 8px;
    background: #fafafa;
}

.extra-info {
	text-align: center;
}

.form label,
.form input {
    display: block;
    margin-bottom: 10px;
}

#speakers {
    margin: 20px;
    padding: 15px;
	border: black 2px solid;
    border-radius: 8px;
    background: #f3f3f3;
}

#terms {
	margin-bottom: 20px;
}

/* TABLET 690-1024px */

@media (min-width: 690px) {
	body {
        grid-template-columns: minmax(0, 1100px);
        justify-content: center;
    }

    main {
        grid-template-columns: 320px 1fr;
        grid-template-areas:
            "event  event"
            "register info";
        align-items: start;
    }

    .event-info-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px 40px;
        align-items: center;
    }

    .event-info-container h2 {
        grid-column: 1 / -1;
    }
}

/* DESKTOP 1025px */

@media (min-width: 1025px) {
	body {
        grid-template-columns: minmax(0, 1200px);
    }

	.hamburger {
        display: none;
    }

	.header {
		border-bottom: 1px solid gray;
	}

    .navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;

		position: static;
		max-height: none;
		background: transparent;
		border: none;
	}

    .navbar ul {
        display: flex;
		flex-direction: row;
		gap: 30px;
		order: 1;
    }

    .navbar li {
        border: none;
        padding: 0;
    }

	.navbar .search-field {
		order: 2;
		margin-left: auto;
		margin-bottom: 0;
	}

	.navbar .user-link {
		order: 3;
    	margin-left: 10px;
	}

    main {
        grid-template-columns: 400px 1fr;
        gap: 40px;
    }

.registration-container {
        padding: 24px;
    }

    .extra-info {
        padding: 10px 10px 10px 0;
    }

    #speakers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}

/* ADDITIONAL CSS */

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Button hover animations */

.qty-decrease,
.qty-increase,
.submit-button {
    transition: all 0.3s ease;
}

.qty-decrease:hover{
	animation-duration: 3s;
	animation-name: button-animation;
}
.qty-decrease{
	background-color: lightgrey;
	width: 30px;
	height: 20px;
}
.qty-increase{
	background-color: lightgrey;
	width: 30px;
	height: 20px;
}
.qty-increase:hover{
	animation-duration: 3s;
	animation-name: button-animation;
}
.submit-button{
	background-color: lightgrey;
	width: 70px;
	height: 20px;
}
.submit-button:hover{
	animation-duration: 3s;
	animation-name: submit-button-animation;
}

@keyframes button-animation{
	from {width: 30px; height: 20px; background-color: lightgrey}
	to {width: 45px; height: 30px; background-color: white}
}

@keyframes submit-button-animation{
	from {width: 70px; height: 20px;background-color: lightgrey}
	to {width: 100px; height: 30px; background-color: white}
}